---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: doublecommander
  namespace: doublecommander
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.50
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media
    global:
      stopAll: false
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
    image:
      repository: ghcr.io/linuxserver/doublecommander
      pullPolicy: IfNotPresent
      tag: latest@sha256:1dbe4d0ed68a2f46afb8aa23f78d8f75e15d720f75cc51672e4dcce91b2d4b27
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 3000
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                CUSTOM_PORT: "{{ .Values.service.main.ports.main.port }}"
                DISABLE_IPV6: true
                NO_DECOR: true
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
        hosts:
          - host: dc.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        enabled: true
        mountPath: "/config"
      media:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: ${MEDIA_NFS}
        mountPath: "/data/media"
      downloads:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: ${DOWNLOADS_NFS}
        mountPath: "/data/downloads"
