apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sonarr-animes
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/media/sonarr-animes/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: sonarr-animes
  postBuild:
    substitute:
      GROUP: media
