apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: headlamp
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/headlamp/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
