---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-java
  namespace: minecraft-java
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-java
      version: 23.14.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-minecraft-java"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        readOnlyRootFilesystem: false
        capabilities:
          add:
            - CAP_NET_RAW
    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${MC_JAVA_IP}
        integrations:
          metallb:
            enabled: true
        annotations: 
          mc-router.itzg.me/defaultServer: "true"
          mc-router.itzg.me/externalServerName: "java.${DOMAIN_1}"
        ports:
          main:
            enabled: true
            protocol: tcp
            port: 25565
          query:
            enabled: true
            protocol: udp
            port: 25566
          bedrock:
            enabled: true
            port: 19132
            protocol: udp
      rcon:
        enabled: true
        type: ClusterIP
        ports:
          rcon:
            enabled: true
            port: 25575
      web:
        enabled: true
        type: ClusterIP
        ports:
          map:
            enabled: true
            protocol: http
            port: 8100
          plan:
            enabled: true
            protocol: http
            port: 8804
    resources:
      limits:
        memory: 8Gi
    plugins:
      # vault
      - 34315
      # shopkeeper
      # - 80756
      # placeholderapi
      - 6245
      # luckyperms
      # - 28140
      # chunky
      # - 81534
      # hopper-filter
      # - 119651
      # command API
      # - 62353
      # packetevents-api
      # - 80279
      # fakeplayer
      # - 118375
      # DiscordSRV
      # - 18494
      # deathlocator
      # - 96266
      # customcreatures
      # - 68711
      # takeaim
      # - 68713
    modrinth:
      # - discordsrv
      # - hopperfilter
      - luckperms
      # - chunky
      # - auraskills
      # - deathlocator
      - bluemap
      # - plan
    workload:
      main:
        # type: StatefulSet
        podSpec:
          containers:
            main:
              imageSelector: image
              probes:
                liveness:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
                readiness:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
                startup:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
              env:
                SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
                QUERY_PORT: "{{ .Values.service.main.ports.query.port }}"
                RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
                DISABLE_HEALTHCHECK: true
                SERVER_HOST: '{{ printf "%s" (include "tc.v1.common.lib.chart.names.fullname" $) }}'
                ENABLE_RCON: true
                EXEC_DIRECTLY: "true"
                ENABLE_QUERY: "true"
                EULA: "TRUE"
                GUI: "FALSE"
                OVERRIDE_SERVER_PROPERTIES: true
                VERSION: "1.21.7"
                TYPE: "PAPER"
                # PAPER_BUILD: "138"
                DIFFICULTY: easy
                MAX_PLAYERS: 20
                MAX_WORLD_SIZE: 10000
                ALLOW_NETHER: true
                ANNOUNCE_PLAYER_ACHIEVEMENTS: true
                ENABLE_COMMAND_BLOCK: false
                FORCE_GAMEMODE: false
                GENERATE_STRUCTURES: true
                HARDCORE: false
                MAX_BUILD_HEIGHT: 256
                ENABLE_AUTOPAUSE: false
                MAX_TICK_TIME: 60000
                SPAWN_ANIMALS: true
                SPAWN_MONSTERS: true
                SPAWN_NPCS: true
                VIEW_DISTANCE: 16
                SERVER_NAME: "The Noob Server"
                MODE: survival
                MOTD: "Welcome to the ShitSHow!"
                PVP: false
                LEVEL_TYPE: DEFAULT
                LEVEL: world
                ONLINE_MODE: true
                MEMORY: 4096M
                JVM_XX_OPTS: "-XX:MaxRAMPercentage=75"
                RCON_PASSWORD: "${RCON_PASS}"
                USE_AIKAR_FLAGS: false
                USE_FLARE_FLAGS: false
                DEBUG_AUTOPAUSE: true
                SKIP_SUDO: true
                REMOVE_OLD_MODS: true
                PLUGINS_FILE: "/data/plugins.txt"
                SPIGET_RESOURCES: '{{ join "," .Values.plugins }}'
                MODRINTH_PROJECTS: '{{ join "," .Values.modrinth }}'
            mcbackup:
              enabled: false
    configmap:
      gatus:
        enabled: true
        labels:
          gatus.io/enabled: "true"
        data:
          config.yaml: |
            endpoints:
              - name: {{ .Release.Namespace }}
                group: games
                url: '{{ printf "%s://%s.%s.svc.cluster.local:%v" .Values.service.main.ports.main.protocol .Release.Name .Release.Namespace .Values.service.main.ports.main.port }}'
                interval: 1m
                ui:
                  hide-url: true
                  hide-hostname: true
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
                    description: "healthcheck failed"
                    send-on-resolved: true
              - name: {{ .Release.Namespace }}-bedrock
                group: games
                url: '{{ printf "%s://%s.%s.svc.cluster.local:%v" .Values.service.main.ports.bedrock.protocol .Release.Name .Release.Namespace .Values.service.main.ports.bedrock.port }}'
                interval: 1m
                ui:
                  hide-url: true
                  hide-hostname: true
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
                    description: "healthcheck failed"
                    send-on-resolved: true
    ingress:
      bluemap:
        enabled: true
        primary: true
        ingressClassName: external
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            rewrite ^/stats$ / permanent;
        targetSelector:
          web: map
        hosts:
          - host: map.${DOMAIN_1}
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
      stats:
        enabled: true
        ingressClassName: external
        annotations:
          nginx.ingress.kubernetes.io/preserve-trailing-slash: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            rewrite ^/$ /stats permanent;
        targetSelector:
          web: map
        hosts:
          - host: stats.${DOMAIN_1}
            paths:
              - path: /stats
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    persistence:
      data:
        targetSelector:
          main:
            codeserver:
              mountPath: /data
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      maps:
        enabled: true
        mountPath: /maps
    addons:
      codeserver:
        enabled: true
        service:
          type: "ClusterIP"
          ports:
            codeserver:
              port: 36107
        ingress:
          enabled: true
          ingressClassName: "internal"
          hosts:
            - host: editor.survival.${DOMAIN_2}
              paths:
                - path: /
                  # Ignored if not kubeVersion >= 1.14-0
                  pathType: Prefix
          integrations:
            nginx:
              enabled: true
              auth:
                type: "authelia"
                internalHost: "authelia.authelia.svc.cluster.local:9091"
                externalHost: "auth.${DOMAIN_2}"
            certManager:
              enabled: true
              certificateIssuer: general-le-prod

    mariadb:
      enabled: true
      mariadbUsername: bluemap
      mariadbDatabase: bluemap
      mariadbPassword: "bluemap"
