#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.agekey)"

export CLUSTERENV="$(expand_path ./clusters/main/clusterenv.yaml)"

# Talos
export TALOSCONFIG="$(expand_path ./clusters/main/talos/generated/talosconfig)"
export MISE=/root/.local/bin/mise
# Fish
# export XDG_CONFIG_HOME="$(expand_path ./)"

# Bin
PATH_add "$(expand_path ./.bin)"
# Krew
PATH_add "$HOME/.krew/bin"