# files
age.agekey
kubeconfig
charts.md
keytar.node

# exact executables/binaries
clustertool
clustertool.exe
kubectl
bwdc

# anything starting with sopssecret
sopssecret*

# decrypted temp files anywhere
**/.decrypted~*

# top-level scripts dir only
/scripts/

# top-level configs output dir only
/configs/output/

# directories
mounts/
venv/
.mise/
.mise/tasks/