age.agekey
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/
charts/*
**/.decrypted~*
output/*
kubeconfig
charts.md
scripts
.mise
/configs/output/
kubectl
bwdc
keytar.node
venv
.mise/tasks