[tools]
age = "1.3.1"
helm = "4.1.0"
jq = "1.8.1"
kubecolor = "0.5.3"
kubectl = "1.35.0"
sops = "3.11.0"
talosctl = "1.12.3"
yq = "4.52.2"
flux2 = "2.7.5"
viddy = "1.3.0"

[tasks]
hello = { description = "hello world", run = "echo hi" }

[settings]
auto_install = true

[shell_alias]
ll = "ls -la"
la = "ls -A"
gs = "git status"
gc = "git commit"
k = "kubecolor"
h = "helm"
t = "talosctl"
gto = "gitops"
ft = "forgetool"
tcl = "talosctl"
badPods = 'kubecolor get pods -A --field-selector=status.phase!=Running'
badFlux = "flux get kustomizations -A --status-selector ready=false"

