---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tracearr
  namespace: tracearr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 15.29.83
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 30m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media
    global:
      stopAll: false
    image:
      repository: ghcr.io/connorgallopo/tracearr
      pullPolicy: IfNotPresent
      tag: 1.4.13@sha256:43a3bc479063f86bc8ab913658d3d3b2137e261284c693fd8585eb4cf8bc3267
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-tracearr"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    service:
      main:
        ports:
          main:
            port: 3000
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PORT: "{{ .Values.service.main.ports.main.port }}"
                HOST: 0.0.0.0
                DATABASE_URL:
                  secretKeyRef:
                    name: cnpg-main-urls
                    key: std
                DB_PASSWORD:
                  secretKeyRef:
                    name: cnpg-main-user
                    key: password
                REDIS_URL:
                  secretKeyRef:
                    expandObjectName: false
                    name: '{{ printf "%s-%s" .Release.Name "rediscreds" }}'
                    key: url
                JWT_SECRET: "${TRACEARR_JWT_SECRET}"
                COOKIE_SECRET: "${TRACEARR_COOKIE_SECRET}"
                CORS_ORIGIN: "{{ .Values.chartContext.appUrl }}"
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: tracearr.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    cnpg:
      main:
        enabled: true
        user: tracearr
        database: tracearr
        # mode: recovery
        cluster:
          singleNode: true
          walStorage:
            size: 10Gi
        backups:
          enabled: true
          credentials: cf-restic
          retentionPolicy: "7d"
          scheduledBackups:
            - name: daily-backup
              # https://crontab.guru/#50_0_*_*_*
              schedule: "50 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: cf-restic
    redis:
      enabled: true
      # redisUsername: tracearr
      # redisPassword: "tracearr"
