apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: jellyseerr
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/media/jellyseerr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: jellyseerr
  postBuild:
    substitute:
      GROUP: media
