---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: es-mc-java-plan
  namespace: es-mc-java-plan
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.1.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    service:
      main:
        type: ExternalName
        externalName: "minecraft-java-web.minecraft-java.svc.cluster.local"
        useSlice: false
        ports:
          main:
            protocol: http
            port: 8804
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: plan.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN_2}"
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
