---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
  namespace: lldap
spec:
  interval: 15m
  chart:
    spec:
      chart: lldap
      version: 8.3.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 15m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-lldap"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 3000
      ldap:
        # type: LoadBalancer
        # loadBalancerIP: ${LLDAP_IP}
        ports:
          ldap:
            port: 3890
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                LLDAP_HTTP_PORT: "{{ .Values.service.main.ports.main.port }}"
                LLDAP_LDAP_PORT: "{{ .Values.service.ldap.ports.ldap.port }}"
                LLDAP_HTTP_URL: "http://localhost:{{ .Values.service.main.ports.main.port }}"
                LLDAP_LDAP_BASE_DN: "${LLDAP_LDAP_BASE_DN}"
                # ADMIN
                LLDAP_LDAP_USER_DN: "${LLDAP_LDAP_USER_DN}"
                LLDAP_LDAP_USER_EMAIL: "${LLDAP_LDAP_USER_EMAIL}"
                LLDAP_LDAP_USER_PASS: "${LLDAP_LDAP_USER_PASS}"
                # LOGGING
                LLDAP_VERBOSE: false
                # SMTP
                LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: true
                LLDAP_SMTP_OPTIONS__SERVER: "${SMTP_GMAIL_HOST}"
                LLDAP_SMTP_OPTIONS__PORT: 587
                LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: "STARTTLS"
                LLDAP_SMTP_OPTIONS__USER: "${SMTP_GMAIL_EMAIL}"
                LLDAP_SMTP_OPTIONS__PASSWORD: "${SMTP_GMAIL_PASS_LLDAP}"
                LLDAP_SMTP_OPTIONS__FROM: "${LLDAP_SMTP_OPTIONS__FROM}"
                LLDAP_SMTP_OPTIONS__REPLY_TO: "${LLDAP_SMTP_OPTIONS__REPLY_TO}"
                # LLDAP_FORCE_UPDATE_PRIVATE_KEY: false
                # LLDAP_FORCE_LDAP_USER_PASS_RESET: true
                LLDAP_KEY_SEED: "${LLDAP_KEY_SEED}"
                LLDAP_JWT_SECRET: "${LLDAP_JWT_SECRET}"
                LLDAP_key_file: "" # "/data/private_key"
                LLDAP_database_url:
                  secretKeyRef:
                    name: cnpg-main-urls
                    key: std
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: lldap.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    gatus:
      endpoints:
        - name: lldap
          group: auth
          url: "http://lldap.lldap.svc.cluster.local:3000"
          interval: 1m
          ui:
            hide-url: true
            hide-hostname: true
          conditions:
            - "[CONNECTED] == true"
          alerts:
            - type: discord
              description: "healthcheck failed"
              send-on-resolved: true
    configmap:
      gatus:
        enabled: true
        labels:
          gatus.io/enabled: "true"
        data:
          config.yaml: |
            {{- $.Values.gatus | toYaml | nindent 2 }}
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      
    cnpg:
      main:
        mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: cf-restic
          retentionPolicy: "7d"
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: cf-restic
