apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: reubah
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/tools/reubah/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: reubah
  postBuild:
    substitute:
      GROUP: tools
