---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tautulli
  namespace: tautulli
spec:
  interval: 15m
  chart:
    spec:
      chart: tautulli
      version: 20.6.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
      tn-restic:
        type: s3
        url: "${TN_S3_RESTIC_URL}"
        bucket: "${TN_S3_RESTIC_BUCKET}"
        accessKey: "${TN_S3_RESTIC_ID}"
        secretKey: "${TN_S3_RESTIC_KEY}"
        encrKey: "${TN_S3_RESTIC_KEY}"
    defaultCertificate: domain-0-wildcard
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 8181
    ingress:
      main:
        enabled: true
        integrations:
          homepage:
            enabled: true
            group: "Monitoring"
            widget:
              custom:
                key: "${TAUTULLI_KEY}"
          traefik:
            enabled: true
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: tautulli.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
              cacheCapacity: 10Gi
              cleanupTempPVC: true
              cleanupCachePVC: true
            src:
              enabled: true
              cacheCapacity: 10Gi
              cleanupTempPVC: true
              cleanupCachePVC: true
