apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-assistant
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/automations/home-assistant/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: home-assistant
  postBuild:
    substitute:
      GROUP: automations
