---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: deezer-downloader
  namespace: deezer-downloader
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.63
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media
    global:
      stopAll: false
    image:
      repository: kmille2/deezer-downloader
      pullPolicy: IfNotPresent
      tag: v2.11.0-alpine3.22@sha256:d8a54e22b5a55c2210e11a49017f47804cb64c710d9a8a0aa8a52c3f5c595e34
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-deezer-downloader"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsUser: 568
        runAsGroup: 568
    service:
      main:
        ports:
          main:
            port: 5000
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: true
                  type: http
                  path: /debug
                readiness:
                  enabled: true
                  type: http
                  path: /debug
                startup:
                  enabled: true
                  type: http
                  path: /debug
              env:
                DEEZER_COOKIE_ARL: "${DEEZER_COOKIE_ARL_1}"
                DEEZER_FLAC_QUALITY: "flac"
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: deezer.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod

    persistence:
      downloads:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${DOWNLOADS_NFS}/complete/music"
        mountPath: "/mnt/deezer-downloader"
