---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: deezer-downloader
  namespace: deezer-downloader
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.26
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    image:
      repository: kmille2/deezer-downloader
      pullPolicy: IfNotPresent
      tag: v2.11.0-alpine3.22@sha256:d8a54e22b5a55c2210e11a49017f47804cb64c710d9a8a0aa8a52c3f5c595e34
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-deezer-downloader"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    service:
      main:
        ports:
          main:
            port: 5000
    workload:
      main:
        podSpec:
          annotations:
            reloader.stakater.com/search: "true"
          containers:
            main:
              probes:
                liveness:
                  enabled: true
                  type: http
                  path: /debug
                readiness:
                  enabled: true
                  type: http
                  path: /debug
                startup:
                  enabled: true
                  type: http
                  path: /debug
              env:
                DEEZER_COOKIE_ARL: "${DEEZER_COOKIE_ARL_1}"
                DEEZER_FLAC_QUALITY: "flac"
                DEEZER_DOWNLOADER_CONFIG_FILE: "/config/settings.ini"
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: deezerdl.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod

    configmap:
      deezerdl-ini:
        enabled: true
        annotations:
          reloader.stakater.com/match: "true"
        data:
          settings.ini: |
            ;;; template configuration for deezer-downlaoder
            ;;; you need to adjust: deezer.cookie_arl

            [mpd]
            ; if you set this to True, the backend will connect to mpd (localhost:6600) and update
            ; the music database after a completed download
            use_mpd = False
            host = 0.0.0.0
            port = 6000
            music_dir_root = "${DOWNLOADS_LOCAL}"

            [download_dirs]
            base = "${DOWNLOADS_LOCAL}"

            songs = %(base)s/songs
            albums = %(base)s/albums
            zips = %(base)s/zips
            playlists = %(base)s/playlists
            youtubedl = %(base)s/youtube-dl

            [debug]
            ; debug output used for /debug
            command = journalctl -u deezer-downloader -n 100 --output cat

            [http]
            ; web backend options
            host = 0.0.0.0
            port = {{ .Values.service.main.ports.main.port }}

            ; if used behind a proxy, specify base url prefix
            ; url_prefix = /deezer
            url_prefix = 
            api_root = %(url_prefix)s
            static_root = %(url_prefix)s/static

            [proxy]
            ; server:
            ;   - https://user:pass@host:port
            ;   - socks5://127.0.0.1:9050
            ;   - socks5h://127.0.0.1:9050 (DNS goes also over proxy)
            server =

            [threadpool]
            ; number of workers in thread pool, this specifies the maximum number of parallel downloads
            workers = 4

            [deezer]
            ; valid arl cookie value
            ; login manually using your web browser and take the arl cookie
            ; cookie_arl = [a-f0-9]{192}
            ; mp3 or flac - flac needs premium subscription
            quality = flac

            [youtubedl]
            ; you are responsible for keeping yt-dlp up-to-date (https://github.com/yt-dlp/yt-dlp)
            ; command = /home/kmille/projects/deezer-downloader/app/venv/bin/yt-dlp
            command = /usr/local/bin/yt-dlp

            ; vim: syntax=dosini

    persistence:
      deezerdl-ini:
        enabled: true
        type: configmap
        mountPath: /config/settings.ini
        objectName: deezerdl-ini
        subPath: settings.ini
        readOnly: true
      downloads:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${DOWNLOADS_NFS}/complete/music"
        mountPath: "${DOWNLOADS_LOCAL}"
