---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: es-scale
  namespace: es-scale
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 15.6.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultCertificate: domain-0-wildcard
    service:
      main:
        type: ExternalIP
        externalIP: "${SCALE_IP}"
        useSlice: false
        ports:
          main:
            protocol: https
            port: 444
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod 
        hosts:
          - host: scale.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
