---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: sabnzbd
spec:
  interval: 30m
  chart:
    spec:
      chart: sabnzbd
      version: 23.3.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 30m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media-downloaders
    global:
      stopAll: false
    securityContext:
      readOnlyRootFilesystem: false
    image:
      repository: ghcr.io/home-operations/sabnzbd
      pullPolicy: IfNotPresent
      tag: 4.5.5@sha256:485440a3e9209a3515c01e1c73d6088726491a292302a721d4cb9e7c6375c768
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-sabnzbd"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 10097
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                SABNZBD__HOST_WHITELIST_ENTRIES: "sabd.${DOMAIN_2}"
                SABNZBD__PORT: "{{ .Values.service.main.ports.main.port }}"
            exportarr:
              env:
                URL: http://sabnzbd.sabnzbd.svc.cluster.local:10097
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: sabd.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          homepage:
            enabled: true
            group: "Media Downloads"
            widget:
              custom:
                url: http://sabnzbd.sabnzbd.svc.cluster.local:10097
                key: "${SAB_KEY}"
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      downloads:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: ${DOWNLOADS_NFS}
        mountPath: "${DOWNLOADS_LOCAL}"
    metrics:
      main:
        enabled: true
        type: "servicemonitor"
        endpoints:
          - port: metrics
            path: /metrics
        targetSelector: metrics
        # Required for exportarr
        apiKey: "${SAB_KEY}"
