---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: muse
  namespace: muse
spec:
  interval: 15m
  chart:
    spec:
      chart: muse
      version: 8.5.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    image:
      repository: ghcr.io/museofficial/muse
      pullPolicy: IfNotPresent
      tag: pr-1276
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-muse"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    muse:
      discord:
        token: "${MUSE_DISCORD_TOKEN}"
      spotify:
        client:
          id: "${MUSE_SPOTIFY_CLIENT_ID}"
          secret: "${MUSE_SPOTIFY_CLIENT_SECRET}"
      youtube:
        key: "${MUSE_YOUTUBE_API_KEY}"
      bot:
        # online (Online)
        # idle (Away)
        # dnd (Do not Disturb)
        status: "online"
        # PLAYING (Playing XYZ)
        # LISTENING (Listening to XYZ)
        # WATCHING (Watching XYZ)
        # STREAMING (Streaming XYZ)
        activity:
          type: "LISTENING"
          detail: "To your shitty music taste"
          url: "https://links.xstar97thenoob.com"
        # If you have Muse running in a lot of guilds (10+)
        # you may want to set to true to registering commands bot-wide
        # rather than for each guild (may take hours for commands to propagate)
        register_commands: false
      cache:
        # 512MB | 10GB
        limit: 2GB
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true