apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nvidia-device-plugin
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/system/nvidia-device-plugin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: nvidia-device-plugin
  postBuild:
    substitute:
      NAMESPACE: nvidia-device-plugin
