apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: spoolman
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/tools/spoolman/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: spoolman
  postBuild:
    substitute:
      GROUP: tools
