---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: omada-controller
  namespace: omada-controller
spec:
  interval: 15m
  chart:
    spec:
      chart: omada-controller
      version: 16.7.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
      tn-restic:
        type: s3
        url: "${TN_S3_RESTIC_URL}"
        bucket: "${TN_S3_RESTIC_BUCKET}"
        accessKey: "${TN_S3_RESTIC_ID}"
        secretKey: "${TN_S3_RESTIC_KEY}"
        encrKey: "${TN_S3_RESTIC_KEY}"
    defaultCertificate: domain-0-wildcard
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 8043
    ingress:
      main:
        enabled: true
        integrations:
          homepage:
            enabled: false
            group: "Networking"
            widget:
              custom:
                username: "${OMADA_USER}"
                password: "${ADGUARD_HOME_PASS}"
                site: "${ADGUARD_HOME_SITE}"
          traefik:
            enabled: true
            middlewares:
              - name: local
                namespace: traefik
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod 
        hosts:
          - host: omada.controller.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              cacheCapacity: 10Gi
              enabled: true
            src:
              enabled: true
              cacheCapacity: 10Gi
              cleanupTempPVC: true
              cleanupCachePVC: true
      work:
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
              cacheCapacity: 10Gi
              cleanupTempPVC: true
              cleanupCachePVC: true
            src:
              enabled: true
              cacheCapacity: 10Gi
