---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-proxy-manager
  namespace: nginx-proxy-manager
spec:
  interval: 15m
  chart:
    spec:
      chart: nginx-proxy-manager
      version: 12.1.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-nginx-proxy-manager"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    apiImage:
      repository: ghcr.io/heysupratim/npmsync
      pullPolicy: IfNotPresent
      tag: latest@sha256:7857dabcb64a6c606f98dd33991b1143e39d36b371d2309d19794a59ad7a125a
    workload:
      main:
        podSpec:
          containers:
            api:
              enabled: true
              imageSelector: apiImage
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              env:
                NPM_URL: '{{ printf "http://%v:%v" (include "tc.v1.common.lib.chart.names.fullname" $) .Values.service.main.ports.main.targetPort }}'
                NPM_USERNAME: "admin@local.domain.com"
                NPM_PASSWORD: "8!ApgFjM"
    npmsync:
      - domain_names:
          - subdomain1.domain.com
        forward_host: 192.168.1.64
        forward_port: 9898
        forward_scheme: http
        caching_enabled: false
        block_exploits: false
        allow_websocket_upgrade: true
        ssl_forced: true
        http2_support: true
        hsts_enabled: true
        hsts_subdomains: false
        enabled: true
        meta:
          letsencrypt_agree: true
          dns_challenge: false
        advanced_config: ""
        locations: []
      - domain_names:
          - subdomain2.domain.com
        forward_host: 192.168.1.64
        forward_port: 9898
        forward_scheme: http
        caching_enabled: false
        block_exploits: false
        allow_websocket_upgrade: true
        ssl_forced: true
        http2_support: true
        hsts_enabled: true
        hsts_subdomains: false
        enabled: true
        meta:
          letsencrypt_agree: true
          dns_challenge: false
        advanced_config: ""
        locations: []
  
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: npm.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          homepage:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: general-le-prod

    configmap:
      npmsync-config:
        enabled: true
        data:
          proxy_hosts.yaml: |
            {{- $.Values.npmsync | toYaml | nindent 2 }}
      npmsync-env:
        enabled: true
        data:
          .env: |
            NPM_URL='{{ printf "http://%v:%v" (include "tc.v1.common.lib.chart.names.fullname" $) .Values.service.main.ports.main.targetPort }}'
            NPM_USERNAME="admin@local.domain.com"
            NPM_PASSWORD="8!ApgFjM"


    persistence:
      npmsync-config:
        enabled: true
        type: configmap
        mountPath: /app/config/proxy_hosts.yaml
        objectName: npmsync-config
        readOnly: true
        subPath: proxy_hosts.yaml
      npmsync-env:
        enabled: true
        type: configmap
        mountPath: /app/config/.env
        objectName: npmsync-env
        readOnly: true
        subPath: .env
