apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: plex-auto-languages
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/media/plex-auto-languages/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster

