---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rackula
  namespace: rackula
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 15.31.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 30m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: tools
    global:
      stopAll: true
    image:
      repository: ghcr.io/rackulalives/rackula
      pullPolicy: IfNotPresent
      tag: 0.8.1@sha256:b556ec443bda556ff5a1793c4a817a942c579637b37226327f951dfa40301275
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 80
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: true
                  type: http
                  path: /health
                readiness:
                  enabled: true
                  type: http
                  path: /health
                startup:
                  enabled: true
                  type: http
                  path: /health
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: "{{ .Release.Name }}.${DOMAIN_2}"
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            # auth:
            #   type: "authelia"
            #   internalHost: "authelia.authelia.svc.cluster.local:9091"
            #   externalHost: "auth.${DOMAIN_2}"
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
