---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-java
  namespace: minecraft-java
spec:
  interval: 30m
  chart:
    spec:
      chart: minecraft-java
      version: 33.8.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 30m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: games
    global:
      stopAll: false
    bluemapImage:
      repository: ghcr.io/bluemap-minecraft/bluemap
      tag: v5.16@sha256:43c8c431ca6584227877ffa5807329dadc78bda4313f6e1218475d85800cb49a
      pullPolicy: Always
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-minecraft-java"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        readOnlyRootFilesystem: false
        capabilities:
          add:
            - CAP_NET_RAW
    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${MC_JAVA_IP}
        integrations:
          metallb:
            enabled: true
        annotations:
          mc-router.itzg.me/defaultServer: "true"
          mc-router.itzg.me/externalServerName: "java.${DOMAIN_1}"
        ports:
          main:
            enabled: true
            protocol: tcp
            port: 25565
          query:
            enabled: true
            protocol: udp
            port: 25566
          bedrock:
            enabled: true
            port: 19132
            protocol: udp
      rcon:
        enabled: true
        type: ClusterIP
        ports:
          rcon:
            enabled: true
            port: 25575
      web:
        enabled: true
        type: ClusterIP
        ports:
          map:
            enabled: true
            protocol: http
            port: 8100
    resources:
      limits:
        memory: 8Gi
    plugins:
      # vault
      - 34315
      # placeholderapi
      - 6245
    modrinth:
      - bluemap
      - viaversion
      - buildpaste
      - hopperplus
      - theclanforge
      - ultradrawer
      - clickvillagers
      - mob-health-bars
      - networks
    configmap:
      plugins:
        enabled: true
        data:
          plugins.txt: |
            https://github.com/pdinklag/MinecraftStats/releases/download/v3.3.1/MinecraftStats.jar
            https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
            https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
    workload:
      main:
        # type: StatefulSet
        podSpec:
          containers:
            main:
              imageSelector: image
              probes:
                liveness:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
                readiness:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
                startup:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
              env:
                SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
                QUERY_PORT: "{{ .Values.service.main.ports.query.port }}"
                RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
                DISABLE_HEALTHCHECK: true
                SERVER_HOST: '{{ printf "%s" (include "tc.v1.common.lib.chart.names.fullname" $) }}'
                ENABLE_RCON: true
                EXEC_DIRECTLY: "true"
                ENABLE_QUERY: "true"
                EULA: "TRUE"
                GUI: "FALSE"
                OVERRIDE_SERVER_PROPERTIES: true
                VERSION: "1.21.11" # "LATEST" # "1.21.8"
                TYPE: "PAPER"
                # PAPER_BUILD: "138"
                DIFFICULTY: easy
                MAX_PLAYERS: 20
                MAX_WORLD_SIZE: 10000
                ALLOW_NETHER: true
                ANNOUNCE_PLAYER_ACHIEVEMENTS: true
                ENABLE_COMMAND_BLOCK: false
                FORCE_GAMEMODE: false
                GENERATE_STRUCTURES: true
                HARDCORE: false
                MAX_BUILD_HEIGHT: 256
                ENABLE_AUTOPAUSE: false
                MAX_TICK_TIME: 60000
                SPAWN_ANIMALS: true
                SPAWN_MONSTERS: true
                SPAWN_NPCS: true
                VIEW_DISTANCE: 16
                SERVER_NAME: "The GreeneFam Server"
                MODE: survival
                MOTD: "Welcome to the Greene Family Server!"
                PVP: false
                # minecraft:normal
                # minecraft:flat
                # minecraft:large_biomes
                # minecraft:amplified
                # minecraft:single_biome_surface
                LEVEL_TYPE: minecraft:amplified
                LEVEL: world
                ONLINE_MODE: true
                MEMORY: 4096M
                JVM_XX_OPTS: "-XX:MaxRAMPercentage=75"
                RCON_PASSWORD: "${RCON_PASS}"
                USE_AIKAR_FLAGS: false
                USE_FLARE_FLAGS: false
                DEBUG_AUTOPAUSE: true
                SKIP_SUDO: true
                REMOVE_OLD_MODS: true
                PLUGINS_FILE: "/data/plugins.txt"
                SPIGET_RESOURCES: '{{ join "," .Values.plugins }}'
                MODRINTH_PROJECTS: '{{ join "," .Values.modrinth }}'
            mcbackup:
              enabled: false
    ingress:
      bluemap:
        enabled: true
        primary: true
        ingressClassName: external
        annotations:
          #   nginx.ingress.kubernetes.io/configuration-snippet: |
          #     rewrite ^/stats$ / permanent;
          gatus.home-operations.com/endpoint: |
            name: minecraft-java-map
            group: "{{ .Values.gatus.group }}"
            alerts:
              - type: discord
                description: "healthcheck failed"
                send-on-resolved: true
        targetSelector:
          web: map
        hosts:
          - host: map.${DOMAIN_1}
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
      stats:
        enabled: true
        ingressClassName: external
        annotations:
          nginx.ingress.kubernetes.io/preserve-trailing-slash: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            rewrite ^/$ /stats/ permanent;
          gatus.home-operations.com/endpoint: |
            group: "{{ .Values.gatus.group }}"
            alerts:
              - type: discord
                description: "healthcheck failed"
                send-on-resolved: true
        targetSelector:
          web: map
        hosts:
          - host: stats.${DOMAIN_1}
            paths:
              - path: /stats/
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    persistence:
      plugins:
        enabled: true
        type: configmap
        mountPath: /data/plugins.txt
        objectName: plugins
        readOnly: true
        subPath: plugins.txt
      data:
        targetSelector:
          main:
            codeserver:
              mountPath: /data
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true

    addons:
      codeserver:
        enabled: true
        service:
          type: "ClusterIP"
          ports:
            codeserver:
              port: 36107
        ingress:
          enabled: true
          ingressClassName: "internal"
          annotations:
            gatus.home-operations.com/endpoint: |
              enabled: false
          hosts:
            - host: editor.java.${DOMAIN_2}
              paths:
                - path: /
                  # Ignored if not kubeVersion >= 1.14-0
                  pathType: Prefix
          integrations:
            nginx:
              enabled: true
              auth:
                type: "authelia"
                internalHost: "authelia.authelia.svc.cluster.local:9091"
                externalHost: "auth.${DOMAIN_2}"
            certManager:
              enabled: true
              certificateIssuer: general-le-prod
