apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: mend-renovate
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/apps/tools/mend-renovate/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
  targetNamespace: mend-renovate
  postBuild:
    substitute:
      GROUP: core
