---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cookcli
  namespace: cookcli
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.78
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: assets
    global:
      stopAll: true
    image:
      repository: inigochoa/cookcli
      pullPolicy: IfNotPresent
      tag: 0.21.0@sha256:4f8112dff08593256255c4f1c70000810c5f039f2d0f4e379b6bc45299a48a0f
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-cookcli"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    service:
      main:
        annotations:
          gatus.home-operations.com/enabled: "false"
        ports:
          main:
            port: 9080

    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: cookcli.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    persistence:
      config:
        enabled: true
        mountPath: /recipes
        volsync:
          - name: config
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
    cnpg:
      main:
        enabled: false
