---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: seerr
  namespace: seerr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.64
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media
    global:
      stopAll: true
    image:
      repository: ghcr.io/seerr-team/seerr
      pullPolicy: IfNotPresent
      tag: develop@sha256:322b978d5d587f67a28b5757bb6144dafe2dee40bb343525223f003573211cac
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-seerr"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    service:
      main:
        ports:
          main:
            port: 5055
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                DB_TYPE: 'postgres' # Which DB engine to use. The default is "sqlite". To use postgres, this needs to be set to "postgres"
                DB_HOST:
                  secretKeyRef:
                    name: cnpg-main-urls
                    key: host
                DB_PORT: '5432' # The port to connect to
                DB_USER: "{{ .Values.cnpg.main.user }}"
                DB_PASS:
                  secretKeyRef:
                    name: cnpg-main-user
                    key: password
                DB_NAME: "{{ .Values.cnpg.main.database }}"
                DB_LOG_QUERIES: 'false' # Whether to log the DB queries for debugging
                DB_USE_SSL: 'false' # Whether to enable ssl for database connection
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: seerr.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            # auth:
            #   type: "authelia"
            #   internalHost: "authelia.authelia.svc.cluster.local:9091"
            #   externalHost: "auth.${DOMAIN_2}"
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    persistence:
      config:
        enabled: true
        mountPath: /app/config
        volsync:
          - name: config
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true

    cnpg:
      main:
        enabled: true
        user: seerr
        database: seerr
        # mode: recovery
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: cf-restic
          retentionPolicy: "7d"
          scheduledBackups:
            - name: daily-backup
              # https://crontab.guru/#50_0_*_*_*
              schedule: "50 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: cf-restic
