---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: booklore
  namespace: booklore
spec:
  interval: 15m
  chart:
    spec:
      chart: booklore
      version: 1.9.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media
    global:
      stopAll: false
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-booklore-v2"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    service:
      main:
        ports:
          main:
            port: 6060
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  path: "/api/v1/healthcheck"
                readiness:
                  path: "/api/v1/healthcheck"
                startup:
                  path: "/api/v1/healthcheck"
              env:
                SWAGGER_ENABLED: true
                FORCE_DISABLE_OIDC: false
                DATABASE_URL: jdbc:mariadb://booklore-mariadb:3306/booklore
    ingress:
      main:
        enabled: true
        ingressClassName: "external"
        hosts:
          - host: booklore.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            # auth:
              # type: "authelia"
              # internalHost: "authelia.authelia.svc.cluster.local:9091"
              # externalHost: "auth.${DOMAIN_2}"
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
      
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      imports:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${MEDIA_NFS}/Literature/imports"
        mountPath: "/bookdrop"
      books:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${MEDIA_NFS}/Literature"
        mountPath: "/books"

    mariadb:
      enabled: true
      mariadbUsername: booklore
