---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: booklore
  namespace: booklore
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.70
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    gatus:
      group: media
    global:
      stopAll: true
    image:
      pullPolicy: IfNotPresent
      repository: ghcr.io/booklore-app/booklore
      tag: v1.17.1@sha256:480ea84a88bca014e994b3088dc8a24f53180c70cbac62f7cb57c107a29004ae
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-booklore"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    service:
      main:
        annotations:
          gatus.home-operations.com/enabled: "false"
        ports:
          main:
            port: 6060
    workload:
      main:
        podSpec:
          containers:
            main:
              # probes:
              #   liveness:
              #     path: "/api/v1/healthcheck"
              #   readiness:
              #     path: "/api/v1/healthcheck"
              #   startup:
              #     path: "/api/v1/healthcheck"
              env:
                SWAGGER_ENABLED: true
                BOOKLORE_PORT: "{{ .Values.service.main.ports.main.port }}"
                DATABASE_URL:
                  secretKeyRef:
                    expandObjectName: false
                    name: '{{ printf "%s-%s" .Release.Name "mariadbcreds" }}'
                    key: jdbc-mariadb
                DATABASE_USERNAME: "{{ .Values.mariadb.mariadbUsername }}"
                DATABASE_PASSWORD: "{{ .Values.mariadb.password }}"

    ingress:
      main:
        enabled: true
        ingressClassName: "external"
        hosts:
          - host: books.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            # auth:
              # type: "authelia"
              # internalHost: "authelia.authelia.svc.cluster.local:9091"
              # externalHost: "auth.${DOMAIN_2}"
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
      
    persistence:
      data:
        enabled: true
        mountPath: "/app/data"
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      imports:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${MEDIA_NFS}/Literature/imports"
        mountPath: "/bookdrop"
      books:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${MEDIA_NFS}/Literature"
        mountPath: "/books"

    mariadb:
      enabled: true
      mariadbUsername: booklore
