---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spotizerr
  namespace: spotizerr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.25
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    image:
      repository: lavaforge.org/spotizerr/spotizerr
      pullPolicy: IfNotPresent
      tag: 4.0.0@sha256:87d0e741f8a5ba7d3190d13da2bfc744ab359df20b943209019675d1d4fb8b88
    credentials:
      cf-restic:
        type: s3
        url: "${CF_S3_RESTIC_URL}"
        bucket: "${CF_S3_RESTIC_BUCKET}-spotizerr"
        accessKey: "${CF_S3_RESTIC_ID}"
        secretKey: "${CF_S3_RESTIC_KEY}"
        encrKey: "${CF_S3_RESTIC_KEY}"
    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsGroup: 0
        runAsUser: 0
    service:
      main:
        ports:
          main:
            port: 7171
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        hosts:
          - host: spotizerr.${DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: general-le-prod
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                HOST: 0.0.0.0
                REDIS_HOST: '{{ .Values.redis.creds.plainhost | trimAll "\"" }}'
                REDIS_PORT: 6379
                REDIS_DB: 0
                REDIS_PASSWORD: '{{ .Values.redis.creds.redisPassword | trimAll "\"" }}'
                # Set to true to filter out explicit content.
                EXPLICIT_FILTER: false
                # Whether to setup file permissions on startup. May improve performance on remote/slow filesystems
                SKIP_SET_PERMISSIONS: true
                ENABLE_AUTH: false
                JWT_SECRET: ${SPOTIZERR_JWT_SECRET}
                # How much a session persists, in hours. 720h = 30 days.
                JWT_EXPIRATION_HOURS: 720
                # Default admins creds, please change the password or delete this account after you create your own
                DEFAULT_ADMIN_USERNAME: "${SPOTIZERR_ADMIN_USER}"
                DEFAULT_ADMIN_PASSWORD: "${SPOTIZERR_ADMIN_PASS}"
                # Whether to allow new users to register themselves or leave that only available for admins
                DISABLE_REGISTRATION: true
                # SSO Configuration
                SSO_ENABLED: false
                SSO_BASE_REDIRECT_URI: '{{ printf "%s/%s" .Values.chartContext.appUrl "api/auth/sso/callback" }}'
                FRONTEND_URL: "{{ .Values.chartContext.appUrl }}"
                LOG_LEVEL: info

    persistence:
      data:
        enabled: true
        mountPath: /app/data
        volsync:
          - name: data
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      logs:
        enabled: true
        type: emptyDir
        mountPath: /app/logs
      cache:
        enabled: true
        mountPath: /app/.cache
        volsync:
          - name: cache
            type: restic
            credentials: cf-restic
            dest:
              enabled: true
            src:
              enabled: true
      downloads:
        enabled: true
        type: nfs
        server: ${SCALE_IP}
        path: "${DOWNLOADS_NFS}/complete/music"
        mountPath: "/app/downloads"
    redis:
      enabled: true
    cnpg:
      main:
        enabled: false
